<h5 class="card-text">Covid-19 Stats</h5>
<table class="table">
    <tr>
        <td><span style="font-weight: bold;">New deaths: </span>{{ data.stats.newDeaths }}</td>
        <td><span style="font-weight: bold;">Total deaths: </span>{{ data.stats.totalDeaths }}</td>
    </tr>
    <tr>
        <td><span style="font-weight: bold;">Newly confirmed cases: </span>{{ data.stats.newlyConfirmedCases }}</td>
        <td><span style="font-weight: bold;">Total confirmed cases: </span>{{ data.stats.totalConfirmedCases }}</td>
    </tr>
    <tr>
        <td><span style="font-weight: bold;">Newly recovered cases: </span>{{ data.stats.newlyRecoveredCases }}</td>
        <td><span style="font-weight: bold;">Total recovered cases: </span>{{ data.stats.totalRecoveredCases }}</td>
    </tr>
</table>