<agm-map 
  [latitude]="lat" 
  [longitude]="lng" 
  [zoom]=zoom 
  (mapClick)="mapClicked($event)">

  <agm-marker 
  [latitude]="marker!.lat"
  [longitude]="marker!.lng"
  [markerDraggable]="marker!.draggable">

    <agm-info-window>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{ weatherData.name }}, {{ covidData.location.countryOrRegion }}</h4>
          <ul class="nav nav-tabs mb-3">
            <li class="nav-item">
              <a class="nav-link" routerLink="weather">Weather</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="covid">Covid Stats</a>
            </li>
          </ul>
          <router-outlet></router-outlet>
        </div>
      </div>
    </agm-info-window>
  </agm-marker>
</agm-map>